[user]
	email = jramirezserrato@gmail.com
	name = Jorge Ramírez Serrato
[pull]
	rebase = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	amend = commit --amend --no-edit
	up = push -u origin HEAD
	staged = diff --cached . ':(exclude)*lock*'
[core]
	editor = zed --wait
[credential]
	helper = osxkeychain
